@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Fraunces&display=swap");
:root {
  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Darkbluephotography-graphic-design-text: hsl(198, 62%, 26%);
  --Dark-moderate-cyan-footer: hsl(168, 51%, 71%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
.header {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/image-header.jpg);
  background-size: cover;
  background-position-y: 50%;
}
.container {
  width: 100%;
  height: 15%;
  display: flex;
  color: var(--White);
}
.fas {
  display: none;
}
.logo {
  width: 50%;
  padding: 2%;
  font-size: 20px;
  text-indent: 30px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}
.logo a {
  text-decoration: none;
  color: var(--White);
  letter-spacing: 5px;
}
.nav {
  width: 50%;
  height: 100%;
  padding: 1%;
  font-size: 18px;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}
.nav ul {
  list-style-type: none;
}
.nav ul li {
  display: inline-block;
  margin-left: 20px;
  width: 15%;
}
.link {
  display: block;
  padding: 15%;
  text-decoration: none;
  color: white;
}

.link:hover,
.logo a:hover {
  color: var(--Very-dark-desaturated-blue);
}
.active {
  border-radius: 50%;
  background-color: rgba(238, 227, 227, 0.5);
  color: black;
}

h1 {
  text-align: center;
  color: var(--White);
  letter-spacing: 10px;
}
.header img {
  margin: 10% auto;
  display: block;
  height: 4%;
  width: 3%;
}
.header img:hover {
  transform: translateY(30%);
  transition: 0.5s;
}
.main {
  width: 100vw;
  height: 225vh;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 50vw;
  height: 75vh;
}
.item1 {
  background-color: var(--White);
}
.item1 p,
.item4 p {
  margin-left: 20%;
}
.p1 {
  margin-top: 20%;
  font-size: 25px;
  font-weight: bolder;
}
.p2 {
  margin: 3% 20%;
}
.p3 {
  font-weight: bold;
}
.p3 a {
  text-decoration: none;
  box-shadow: 0 5px 5px hsla(51, 100%, 49%, 0.5);
  color: black;
}
.item2 {
  background-image: url(./images/image-transform.jpg);
  background-position-y: 50%;
}

.item3 {
  background-image: url(./images/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
}
.item4 {
  background-color: var(--White);
}
.item5 {
  background-image: url(./images/image-graphic-design.jpg);
}
.item6 {
  background-image: url(./images/image-photography.jpg);
}
.bottomtext {
  text-align: center;
  position: relative;
  top: 70%;
  width: 50%;
  margin: 0 auto;
  line-height: 2;
}
.testimonials {
  width: 100vw;
  height: 70vh;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.testimonials h3 {
  margin-top: 5%;
  font-size: 1.5rem;
}
.containercomment {
  height: 60%;
  width: 80%;
  margin: 5% auto;
  display: flex;
}
.comment {
  width: 33.33%;
  height: 100%;
  font-weight: 500;
}
.comment img {
  border-radius: 50%;
}
.commenttext {
  margin-top: 10%;
}
.commenttext .name {
  margin-top: 5%;
}
.footer {
  width: 100vw;
  height: 110vh;
}
.top {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  width: 100%;
}
.box {
  width: 25%;
  height: 100%;
}
.box img {
  width: 100%;
  height: 100%;
}
.bottom {
  height: 50vh;
  width: 100%;
  background-color: var(--Dark-moderate-cyan-footer);
  color: var(--Very-dark-desaturated-blue);
  text-align: center;
}
.bottominfo {
  padding-top: 5%;
}

.footerlogo {
  font-size: 2rem;
  font-size: 900;
}
.footerlink {
  margin: 5% auto;
  width: 80%;
  position: relative;
}

.footerlink a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--Very-dark-desaturated-blue);
}
.socialmedia {
  margin-top: 5%;
}
.bottom a {
  margin-left: 2%;
}
.hidden {
  display: none;
}
@media only screen and (max-width: 600px) {
  .header {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-repeat: none;
    background-position-y: 0;
    background-position-x: 50%;
  }

  .header h1 {
    margin: 5% auto;
    word-break: break-all;
    letter-spacing: 5px;
  }
  .header img {
    margin-top: 15%;
    height: 5%;
    width: 5%;
  }
  .nav {
    display: none;
  }

  .navmobile {
    display: block;
    position: absolute;
    z-index: 2;
    padding: 2%;
    margin: 5% auto;
    background-color: var(--White);
    color: black;
    width: 85%;
    height: 20%;
    left: 7.5%;
    top: 4%;
  }
  .nav::before {
    content: "";
    border: 10px solid;
    border-color: transparent white white transparent;
    position: absolute;
    right: 0;
    top: -10%;
  }
  .fas {
    display: block;
    position: absolute;
    right: 0;
    width: 5%;
    padding: 1%;
  }
  .nav ul li {
    display: block;
    margin: 0% auto;
    width: 30%;
    padding: 0;
  }
  .link {
    text-align: left;
    color: black;
    text-align: center;
    padding: 8%;
  }

  .link:hover {
    color: turquoise;
  }
  .active {
    background-color: var(--Yellow);
  }
  .main {
    height: 320vh;
    flex-direction: column;
  }
  .item {
    width: 100vw;
    font-size: 12px;
    height: 60vh;
  }
  .item2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: 50%;
  }

  .item3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: 50%;
  }

  .item5 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
  .item6 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 14%;
    background-position-x: 50%;
  }
  .item1,
  .item4 {
    height: 40vh;
  }
  .p1 {
    margin-top: 20%;
  }
  .bottomtext {
    text-align: center;
    position: relative;
    top: 70%;
    width: 50%;
    margin: 0 auto;
    line-height: 2;
  }

  .testimonials {
    height: 150vh;
  }

  .containercomment {
    flex-direction: column;
  }
  .comment {
    width: 100%;
    height: 100%;
    font-weight: 500;
  }
  .testimonials {
    height: 100vh;
  }
  .footer {
    height: 100vh;
  }
  .top {
    height: 70vh;
  }
  .bottom {
    height: 30vh;
  }

  .box {
    width: 50%;
    height: 50%;
  }
  .bottom {
    padding-top: 20%;
  }
}
